<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eCardDialog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <eCardDialog.Properties.Settings>
            <setting name="eCardDialog_BaseRef_BaseService" serializeAs="String">
                <value>http://localhost/base/15</value>
            </setting>
            <setting name="eCardDialog_ServiceManager_ServiceManager" serializeAs="String">
                <value>http://localhost/servicemanager/1</value>
            </setting>
            <setting name="eCardDialog_VDASRef_VdasService" serializeAs="String">
                <value>http://localhost/vdas/14</value>
            </setting>
            <setting name="eCardDialog_KSERef_KseService" serializeAs="String">
                <value>http://localhost/kse/17</value>
            </setting>
        </eCardDialog.Properties.Settings>
    </applicationSettings>
</configuration>